@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A1C181;
}

nav {
    font-size: 1.3em;
    background-color: #619B8A;
    border-bottom: 3px solid rgba(35, 61, 77, 0.3);
    padding: 30px;
    position: relative;
    color: #233D4D;
}

nav a {
    color: black;
}

nav a:hover {
    color: #FCCA46;
}

nav,
h1 {
    text-transform: uppercase;
}

h1,
footer {
    text-align: center;
}

main {
    padding: 16px;
    padding-bottom: 24px;
    margin-top: 15px;
}


h2 {
    padding-left: 30px;
}

footer {
    /* text-align: center; */
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 25px;
    background-color: #619B8A;
}

img {
    height: 200px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #233D4D;
}

a:hover {
    color: #FE7F2D;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.container>div {
    margin: 0 auto;
}

.background-div {
    background-color: #f4eacc;
    border-radius: 8px;
    padding: 20px 0;
    height: 100%;
}

.category {
    background-color: #FE7F2D;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    border: 2px solid #FE7F2D;
    padding-top: 0;
}

.ingredients-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4eacc;
    max-width: 50%;
    padding: 1rem;
    padding-top: 0;
    border-radius: 10px;
}


.ingredients-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients-div>h2 {
    width: 100%;
    padding: 0;
    align-items: flex-start;
    text-align: start;
}

ol {
    margin: 0;
    padding: 0 20px;
}
